benchmarks/filtergeneration/epsilon/*.csv
benchmarks/filtergeneration/flopococalls/*.txt
benchmarks/filtergeneration/rpagcalls/*.csv
benchmarks/filtergeneration/solutions/*.txt
benchmarks/filtergeneration/solutions/*.png
benchmarks/filtergeneration/solutions/*.svg
benchmarks/filtergeneration/solutions/wcpg/*.png
benchmarks/filtergeneration/solutions/wcpg/*.svg
benchmarks/filtergeneration/solutions/wcpg/png/*.png
benchmarks/filtergeneration/solutions/wcpg/svg/*.svg
benchmarks/filtergeneration/solutions/mcm/*.png
benchmarks/filtergeneration/solutions/mcm/*.svg
benchmarks/filtergeneration/solutions/mcm/png/*.png
benchmarks/filtergeneration/solutions/mcm/svg/*.svg
benchmarks/filtergeneration/solutions/wcpg/N/*.png
benchmarks/filtergeneration/solutions/wcpg/N/*.svg
benchmarks/filtergeneration/solutions/wcpg/N/png/*.png
benchmarks/filtergeneration/solutions/wcpg/N/svg/*.svg
benchmarks/filtergeneration/solutions/wcpg/lowest_mcm/*.png
benchmarks/filtergeneration/solutions/wcpg/lowest_mcm/*.svg
benchmarks/filtergeneration/solutions/wcpg/lowest_mcm/png/*.png
benchmarks/filtergeneration/solutions/wcpg/lowest_mcm/svg/*.svg
benchmarks/results/plots/*.tex
benchmarks/results/plots/*.pdf
vhdl/*.vhd
*.vhd

*.ods
*.ods#

# Latex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.blg
*.spl
*.synctex.gz
*.bcf
*.nav
*.xml
*.snm

# Save
* (save)
*.zip
